<h1 style="text-align:center;">Los Evil Ex</h1>

<div class="row container_principal" ng-repeat="ex in vm.exData">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="{{ex.img}}">
              <span class="card-title">{{ex.name}}</span>
            </div>
            <div class="card-content">
              <p>Hola mi edad es {{ex.edad}}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
